services:
  api_gateway:
    build: ./api_gateway
    container_name: api_gateway
    networks:
      my-network:
        ipv4_address: 172.20.0.8

  api_gateway_backup:
    build: ./api_gateway
    container_name: api_gateway_backup
    networks:
      my-network:
        ipv4_address: 172.20.0.9 

  login_server:
    build: ./login
    container_name: login_server
    networks:
      my-network:
        ipv4_address: 172.20.0.2
    ports:
      - "5001:5001"

  courses_server:
    build: ./courses
    container_name: courses_server
    networks:
      my-network:
        ipv4_address: 172.20.0.3
    ports:
      - "5002:5002"

  enroll_server:
    build: ./enroll
    container_name: enroll_server
    networks:
      my-network:
        ipv4_address: 172.20.0.4
    ports:
      - "5003:5003"

  grade_server:
    build: ./grade
    container_name: grade_server
    networks:
      my-network:
        ipv4_address: 172.20.0.5
    ports:
      - "5004:5004"

  encode_server:
    build: ./encode
    container_name: encode_server
    networks:
      my-network:
        ipv4_address: 172.20.0.6
    ports:
      - "5005:5005"

  frontend_server:
    build: ./frontend
    container_name: frontend_server
    networks:
      my-network:
        ipv4_address: 172.20.0.10
    ports:
      - "5173:5173"

  nginx_lb:
    image: nginx
    container_name: nginx_lb
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      my-network:
        ipv4_address: 172.20.0.20
    ports:
      - "4000:4000"

# Already created a network with a custom subnet 172.20.0.0/16, so we can just access it here
networks:
  my-network:
    external: true
